<!DOCTYPE html>
<html lang="en">

<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Site Metas -->
<title>KingDom</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Site Icons -->
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<!-- All core CSS -->
<link href="../css/bootstrap.css" rel="stylesheet">
<link href="../css/font-awesome.min.css" rel="stylesheet">
<link href="../css/all.css" rel="stylesheet">
<link href="../style.css" rel="stylesheet">
<link href="../css/responsive.css" rel="stylesheet">
<link href="../css/colors.css" rel="stylesheet"> 

</head>

<body>

    <div id="wrapper" class="hero">
        /*/*<div class="magnifier grd3"></div>*/*/
        <header id="header" class="header transparent-header">
            <div class="container">
                <nav class="navbar navbar-toggleable-md navbar-inverse yamm" id="slide-nav">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbarTopMenu" aria-controls="navbarTopMenu" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">KingDom</a>
                    <div class="collapse navbar-collapse" id="navbarTopMenu">
                        <ul class="navbar-nav mr-auto mt-2 mt-md-auto">
                            <li><a class="nav-link" href="#Home">Главная</a></li>
                            <li><a class="nav-link" href="#first-section">О нас</a></li>
                            <li><a class="nav-link" href="#Services">Услуги</a></li>
                            <li><a class="nav-link" href="#Our-works">Наши работы</a></li>
                            <li><a class="nav-link" href="#Contact">Контакты</a></li>
                        </ul>
                        <div class="nav navbar-nav ml-auto hidden-md-down hidden-sm-down hidden-xs-down">
                            <div class="head-social">
                                <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" title="Instagram"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <!--/.container inside nav-->
        </header>
    </div>
    <!-- Core JavaScript ================================================== -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/all.js"></script>
    <script src="../js/custom.js"></script>

</body>
</html>